

html, body {
	height: 100%;

}


.container-fluid {
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	display: flex;
  	justify-content: center;
  	align-items:center; 	
  	width: 100%;
  	height: 100%;
}

.row{
	display: flex;
	align-items: center;
	background-color: rgba(255,255,255, 0.3);
    border-radius: 5px;
    padding: 34px;

}

.navbar {
	background-color: rgba(111, 105, 119,0.6);
	height: 10%;
}

.navbar-brand {
	/*  Agregar ícono  */
}

.col {
	background-color: white;
	background-color: transparent;

}

hr{
	border: 1px solid black;
	width: 95%;

}

h1{
	font-family: 'Roboto Slab', serif;
}


 p, button {
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	color: black;

}

button {
	background-color: rgba(0,0,0,0);
	font-family: 'Roboto Slab', serif;

}

li {
	font-family: 'Roboto Slab', serif;
	font-size: 22px;
	/*ist-style-type: none;*/
		text-align: left;

	

}

li:hover {
	cursor: pointer;


}

ul {
	list-style-image: url("img/check.png");
}

.done {
	text-decoration: line-through;
	color: #353535;
}

.deletebutton{

}

#but button {
	display: none;
}

#but li:hover button{
    display: inline-block;
}
