

html, body {
	height: 100%;

}

li {
	
}


.container-fluid {
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	display: flex;
  	justify-content: center;
  	align-items:center; 	
  	width: 100%;
  	height: 100%;
}

.row{
	display: flex;
	align-items: center;
	background-color: rgba(255,255,255, 0.3);
    border-radius: 5px;
	padding: 34px;
	border: 2px solid black;

}

.navbar {
	background-color: rgba(111, 105, 119,0.6);
	height: 10%;
}

.navbar-brand {
	/*  Agregar ícono  */
}

.col {
	background-color: white;
	background-color: transparent;

}

hr{
	border: 1px solid black;

}

h1{
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
}


 p, button {
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	color: black;

}

button {
	background-color: rgba(0,0,0,0);
	font-family: 'Roboto Slab', serif;

}

li {
	font-family: 'Roboto Slab', serif;
	font-size: 22px;
	text-align: left;
	list-style-image: url(checked.svg);
}

li:hover {
	cursor: pointer;


}

ul {
	list-style-image: url("img/check.png");
	padding-left: 1.1rem;
}

.done {
	text-decoration: line-through;
	color: #353535;
}

.deletebutton{
	font-weight: bolder;
	font-family: Arial, Helvetica, sans-serif;
}

#but button {
	display: none;
}

#but li:hover button{
    display: inline-block;
}

input#userinput {
    height: 2.4rem;
    border-radius: 0.5rem;
    width: 24rem;
	border: 2px solid black;
	padding: inherit;
}

input#userinput::placeholder{
	padding: initial;
}

.btn-primary {
    border: 2px solid black;
}
